@font-face {
  font-family: "Brown Sugar";
  src: url(../../vendor/BrownSugar.ttf);
}

@font-face {
  font-family: "FiraMono-Regular";
  src: url(../../vendor/FiraMono-Regular.ttf);
}

@font-face {
  font-family: "FiraMono-Medium";
  src: url(../../vendor/FiraMono-Medium.ttf);
}

@font-face {
  font-family: "FiraMono-Bold";
  src: url(../../vendor/FiraMono-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../vendor/Inter-ExtraBold.ttf);
}

.page {
  width: 100vw;
  min-height: 100vh;
  min-width: 100%;
  font-family: "FiraMono-Regular";
  background-color: rgba(245, 240, 232, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow: hidden;
}

.underConstructionMessage {
  display: none;
}

@media screen and (max-width: 500px) {
  .page {
    display: none;
  }
  .underConstructionMessage {
    display: block;
    background-image: url("../../images/GradientBackgroundMain.svg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    color: rgba(245, 240, 232, 1);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "FiraMono-Regular";
    font-size: 20px;
  }

  .underConstructionMessage__text {
    max-width: 300px;
  }
}
