@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fadeIn {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeInFromRight {
  animation: fadeInFromRight ease 1.5s;
  animation-iteration-count: 1;
}

.fadeInFromLeft {
  animation: fadeInFromLeft ease 2s;
  animation-iteration-count: 1;
}

.main {
  background-image: url("../../images/GradientBackgroundMain.svg");
  background-size: cover;
  width: 100vw;
  min-width: 100%;
  color: rgba(245, 240, 232, 1);
}

.main__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: -50px;
}

.main__title-name {
  font-family: "Brown Sugar";
  font-size: 130px;
  letter-spacing: 10px;
  font-weight: 400;
  max-width: 686px;
  text-align: end;
  margin-bottom: 0;
}

.main__title-details {
  font-size: 27px;
  letter-spacing: 5px;
  position: relative;
  left: 230px;
  bottom: 75px;
}

.main__details-container {
  display: grid;
  grid-template-columns: 41.5% 58.5%;
  height: 981px;
}

.main__details-empty-div {
  border-right: solid 4px;
  border-color: rgba(245, 240, 232, 1);
}

.main__details-text {
  font-family: "FiraMono-Regular";
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 5px;
  max-width: 570px;
  border-top: solid 4px;
  border-color: rgba(245, 240, 232, 1);
  margin-top: 500px;
  padding-top: 35px;
  padding-left: 35px;
}
