@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceFromLeft {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-350px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInFromTopLeft {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-100px, -100px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slideDown {
  animation: slideDown ease 2s;
  animation-iteration-count: 1;
}

.slideUp {
  animation: slideUp ease 2s;
  animation-iteration-count: 1;
}

.bounceFromLeft {
  animation: bounceFromLeft ease 2s;
  animation-iteration-count: 1;
}

.rotate {
  animation: rotate ease 2s;
  animation-iteration-count: 1;
}

.fadeIn {
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slideInFromLeft {
  animation: slideInFromLeft ease 2s;
  animation-iteration-count: 1;
}

.slideInFromTopLeft {
  animation: slideInFromTopLeft ease 2s;
  animation-iteration-count: 1;
}

.fadeInSlower {
  animation: fadeIn ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeInSlowest {
  animation: fadeIn ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.skills {
  width: 100vw;
  min-width: 100%;
  display: grid;
  grid-template-columns: 41.5% 58.5%;
  grid-template-rows: auto;
  background-color: rgba(245, 240, 232, 1);
}

.skills__circle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-row: 1;
  border-left: solid 4px;
  border-color: rgba(199, 175, 201, 1);
  padding-top: 50px;
  padding-right: 50px;
}

.skills__circle-container:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 4px solid rgba(199, 175, 201, 1);
  left: 0;
  margin-right: auto;
}

.skills__circle-2 {
  width: 300px;
  height: 300px;
  align-self: flex-start;
  margin-left: 150px;
}

.skills__circle-3 {
  width: 200px;
  height: 200px;
  margin-bottom: -55px;
}

.skills__specializedSkills_container {
  color: rgba(255, 145, 100, 1);
  font-size: 27px;
  letter-spacing: 3px;
  text-align: end;
  grid-row: 1;
  border-color: rgba(199, 175, 201, 1);
  margin-top: 250px;
}

.skills__specializedSkills_container:before {
  content: "";
  display: block;
  width: 90%;
  border-bottom: 4px solid rgba(199, 175, 201, 1);
  margin-left: auto;
}

.skills__generalSkills_container {
  text-align: end;
  color: rgba(199, 175, 201, 1);
  font-size: 27px;
  letter-spacing: 3px;
  grid-row: 2;
  padding-right: 50px;
  margin-top: -70px;
}

.skills__codingLAT_container {
  grid-row: 2;
  color: rgba(174, 158, 1, 1);
  font-size: 27px;
  letter-spacing: 3px;
  border-left: solid 4px;
  border-color: rgba(199, 175, 201, 1);
  padding-left: 35px;
  padding-bottom: 50px;
}

.circle-container-2 {
  margin-top: -400px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.specializedSkills__title-small {
  margin-bottom: 0;
  margin-top: 50px;
  margin-right: 50px;
}

.specializedSkills__title-large {
  font-family: "Brown Sugar";
  font-size: 115px;
  letter-spacing: 10px;
  font-weight: 400;
  margin: 0;
  margin-right: 50px;
}

.specializedSkills__list {
  list-style-position: inside;
  direction: rtl;
  text-align: start;
  padding: 0;
  margin-top: 0;
  margin-right: 50px;
}

.specializedSkills__skill {
  font-family: "FiraMono-Medium";
  line-height: 50px;
}

.generalSkills__title-large {
  font-family: "Brown Sugar";
  font-size: 115px;
  letter-spacing: 10px;
  font-weight: 400;
  margin: 0;
}

.generalSkills__title-small {
  margin: 0;
  margin-bottom: 30px;
}

.generalSkills__list {
  list-style-position: inside;
  direction: rtl;
  text-align: start;
  padding: 0;
  margin-top: 0;
}

.generalSkills__skill {
  font-family: "FiraMono-Medium";
  line-height: 50px;
}

.codingLAT__title {
  font-family: "Inter";
  font-size: 45px;
  letter-spacing: 5px;
  max-width: 575px;
  margin-bottom: 0;
}

.codingLAT__list {
  list-style: none;
  font-family: "FiraMono-Medium";
  line-height: 47px;
}

.skills__circle-4 {
  width: 200px;
  height: 200px;
  margin-top: -120px;
}

.skills__circle-5 {
  width: 300px;
  height: 300px;
  margin-left: 50px;
}

.skills__blank-div {
  border-left: solid 4px;
  border-color: rgba(199, 175, 201, 1);
}

@media screen and (max-width: 1200px) {
  .specializedSkills__title-large {
    font-size: 9.5vw;
  }

  .specializedSkills__skill {
    font-size: 2vw;
  }

  .generalSkills__title-large {
    font-size: 9.5vw;
  }

  .generalSkills__skill {
    font-size: 2vw;
  }

  .skills__circle-2 {
    margin-left: 25px;
  }

  .skills__circle-3 {
    margin-bottom: -25px;
  }

  .codingLAT__title {
    font-size: 3.75vw;
  }
}

@media screen and (max-width: 1100px) {
  .skills__circle-5 {
    width: 275px;
    height: 275px;
    margin-left: 30px;
  }

  .skills__circle-4 {
    width: 175px;
    height: 175px;
  }
}

@media screen and (max-width: 1075px) {
  .skills__circle-1 {
    width: 330px;
    height: 330px;
  }

  .skills__circle-2 {
    margin-left: 60px;
    width: 260px;
    height: 260px;
  }

  .skills__circle-3 {
    width: 175px;
    height: 175px;
  }

  .specializedSkills__list {
    margin-right: 20px;
  }

  .generalSkills__list {
    margin-right: 20px;
  }

  .skills__title-container {
    margin-left: 40px;
  }

  .codingLAT__title {
    margin-right: 10px;
  }

  .skills__circle-4 {
    margin-top: -170px;
    margin-left: -90px;
  }
}

@media screen and (max-width: 800px) {
  .generalSkills__skill {
    font-size: 2.4vw;
    line-height: normal;
    margin-top: 15px;
  }

  .specializedSkills__skill {
    font-size: 2.4vw;
  }

  .skills__specializedSkills_container {
    padding-left: 20px;
  }

  .skills__generalSkills_container {
    padding-left: 20px;
    margin-top: -20px;
  }

  .skills__circle-1 {
    margin-right: -50px;
  }

  .skills__circle-2 {
    margin-left: 30px;
  }

  .skills__circle-3 {
    margin-bottom: -15px;
  }

  .skills__circle-4 {
    margin-left: -90px;
    margin-top: -150px;
  }

  .skills__circle-5 {
    margin-left: 15px;
    margin-top: 70px;
  }

  .skills__title-container {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .specializedSkills__skill {
    font-size: 20px;
    line-height: normal;
    margin-top: 15px;
  }

  .generalSkills__skill {
    font-size: 20px;
    line-height: normal;
    margin-top: 15px;
  }

  .specializedSkills__title-large {
    font-size: 75px;
  }

  .generalSkills__title-large {
    font-size: 75px;
  }

  .codingLAT__title {
    font-size: 35px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .generalSkills__title-small {
    font-size: 17px;
    margin: 0;
  }

  .generalSkills__title-large {
    font-size: 90px;
  }

  .specializedSkills__title-small {
    font-size: 17px;
  }

  .specializedSkills__title-large {
    font-size: 90px;
    margin-right: 0;
  }

  .specializedSkills__skill {
    font-size: 14px;
    margin-top: 10px;
  }

  .generalSkills__skill {
    font-size: 14px;
    margin-top: 10px;
  }

  .specializedSkills__list {
    padding-left: 15px;
    margin-right: 10px;
  }

  .generalSkills__list {
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    text-align: end;
    flex-direction: column;
    align-items: flex-end;
    direction: ltr;
  }

  .codingLAT__title {
    font-size: 18px;
    margin-top: -5px;
  }

  .codingLAT__skill {
    font-size: 16px;
    line-height: 30px;
  }

  .codingLAT__list {
    padding-left: 20px;
  }

  .skills__specializedSkills_container {
    margin-top: 75px;
  }

  .skills__generalSkills_container {
    margin-top: 20px;
    padding: 0;
  }

  .skills__title-container {
    rotate: 270deg;
    margin-top: 105px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .generalSkills__title-container {
    padding-top: 20px;
    margin-top: 70px;
    flex-direction: column-reverse;
    margin-bottom: 95px;
  }

  .skills__circle-container {
    justify-content: space-evenly;
    border-left: solid 2px;
    border-color: rgba(199, 175, 201, 1);
    padding: 0;
  }

  .skills__circle-container:after {
    border-bottom: 2px solid rgba(199, 175, 201, 1);
  }

  .skills__circle-1 {
    width: 210px;
    height: 210px;
    align-self: flex-end;
    margin-right: -35px;
  }

  .skills__circle-2 {
    width: 170px;
    height: 170px;
    margin: 0;
    margin-left: 20px;
  }

  .skills__circle-3 {
    width: 100px;
    height: 100px;
  }

  .skills__circle-4 {
    width: 90px;
    height: 90px;
    margin-top: -151px;
  }

  .skills__circle-5 {
    width: 150px;
    height: 150px;
    margin-top: -50px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 40px;
  }

  .skills__specializedSkills_container:before {
    border-bottom: 2px solid rgba(199, 175, 201, 1);
    margin-left: auto;
  }

  .skills__codingLAT_container {
    padding-left: 10px;
    border-left: solid 2px;
    border-color: rgba(199, 175, 201, 1);
  }

  .circle-container-2 {
    margin: 0;
  }

  .skills__blank-div {
    border-left: solid 2px;
    border-color: rgba(199, 175, 201, 1);
  }
}

@media screen and (max-width: 500px) {
  .specializedSkills__list {
    margin-right: 20px;
  }

  .generalSkills__list {
    margin-right: 15px;
  }

  .codingLAT__title {
    margin-left: 10px;
  }

  .skills__circle-4 {
    margin-top: -100px;
  }

  .skills__circle-5 {
    margin-top: -7px;
  }
}
