@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInFromRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*ANIMATIONS*/

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin-left: auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end);
}

.fadeInFromLeft {
  animation: fadeInFromLeft ease 6s;
  animation-iteration-count: 1;
}

.fadeIn {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.resume {
  width: 100vw;
  min-width: 100%;
  background-image: url(../../images/resumeBackgroundGradient.png);
  background-position: right;
  background-size: cover;
  color: rgba(245, 240, 232, 1);
  display: grid;
  grid-template-columns: 41.5% 58.5%;
  padding: 0;
}

.resume__empty-div {
  grid-row: 1;
}

.resume__title {
  font-family: "Brown Sugar";
  font-size: 130px;
  letter-spacing: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-bottom: 35px;
  padding-left: 35px;
  align-self: baseline;
  grid-row: 1;
}

.resume__title-container {
  border-left: solid 4px;
  border-color: rgba(245, 240, 232, 1);
}

.resume__title-container:after {
  content: "";
  display: block;
  width: 70%;
  border-bottom: 4px solid rgba(245, 240, 232, 1);
  left: 0;
  margin-right: auto;
}

.resume__skill-yrs {
  border-color: rgba(245, 240, 232, 1);
  text-align: end;
  margin-top: -80px;
  grid-row: 2;
}

.resume__skill-yrs:after {
  content: "";
  display: block;
  width: 90%;
  border-bottom: 4px solid rgba(245, 240, 232, 1);
  margin-left: auto;
}

.resume__skill-yrs-list {
  line-height: 16px;
  padding-right: 50px;
  margin-bottom: 170px;
}

.resume__skill-yrs-work {
  font-size: 27px;
  font-family: "FiraMono-Medium";
}

.resume__skill-yrs-timeline {
  font-family: "FiraMono-Regular";
  font-size: 25px;
  font-style: italic;
  margin-bottom: 45px;
  padding-top: 5px;
}

.resume__workExperience {
  grid-row: 2;
  padding-left: 50px;
  max-width: 550px;
  border-left: solid 4px;
  padding-bottom: 100px;
}

.resume__workExperience_title {
  font-family: "Inter";
  font-size: 40px;
  letter-spacing: 10px;
}

.resume__workExperience_list {
  font-family: "FiraMono-Regular";
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
  line-height: 15px;
  margin-top: 50px;
}

.workExperience__position {
  font-family: "FiraMono-Medium";
  font-size: 27px;
  letter-spacing: 5px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 15px;
}

.workExperience__company {
  margin: 0;
  margin-bottom: 15px;
  line-height: normal;
}

.workExperience__timeline {
  margin: 0;
  font-style: italic;
}

.resume__education {
  grid-row: 3;
  text-align: end;
  padding-right: 50px;
  padding-top: 35px;
  margin-top: -700px;
  font-size: 27px;
  letter-spacing: 5px;
  padding-left: 50px;
  padding-bottom: 100px;
}

.resume__education_title {
  font-family: "Inter";
  font-size: 40px;
  letter-spacing: 10px;
}

.education__item {
  margin-top: 50px;
}

.education__program {
  font-size: 30px;
  font-family: "FiraMono-Medium";
  margin: 0;
  margin-bottom: 15px;
}

.education__school {
  margin: 0;
  margin-bottom: 15px;
}

.education__location {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .resume__education {
    font-size: 24px;
    margin-top: -750px;
  }

  .resume__workExperience_title {
    font-size: 3.3vw;
  }

  .resume__education_title {
    font-size: 3.3vw;
  }

  .resume__skill-yrs-list {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1075px) {
  .resume__title {
    font-size: 100px;
  }

  .resume__skill-yrs {
    margin-top: 0;
  }

  .resume__skill-yrs-work {
    line-height: normal;
    margin-bottom: 0;
    font-size: 22px;
  }

  .resume__skill-yrs-timeline {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .resume__education {
    margin-top: -785px;
  }

  .resume__education_title {
    margin-top: -130px;
  }

  .resume__workExperience {
    padding-right: 35px;
  }
}

@media screen and (max-width: 800px) {
  .resume__education {
    padding-right: 30px;
    padding-left: 30px;
  }

  .resume__title {
    padding-left: 25px;
    padding-bottom: 15px;
    font-size: 80px;
  }

  .resume__skill-yrs {
    margin-top: 35px;
  }

  .resume__workExperience {
    padding-left: 20px;
  }

  .resume__education_title {
    margin-top: -40px;
  }
}

@media screen and (max-width: 775px) {
  .resume__skill-yrs-list {
    margin-left: 25px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .resume__education_title {
    font-size: 35px;
    padding-right: 10px;
  }

  .resume__workExperience_title {
    font-size: 25px;
    padding-right: 10px;
  }

  .resume__education {
    margin-top: -775px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .resume__title-container {
    border-left: solid 2px;
    border-color: rgba(245, 240, 232, 1);
  }

  .resume__title-container:after {
    border-bottom: 2px solid rgba(245, 240, 232, 1);
  }

  .resume__workExperience {
    border-left: solid 2px;
  }

  .resume__skill-yrs-work {
    font-size: 20px;
  }

  .resume__skill-yrs-timeline {
    font-size: 18px;
  }

  .workExperience__position {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .workExperience__company {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .workExperience__timeline {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 10px;
  }

  .resume__education_title {
    font-size: 22px;
    padding: 0;
  }

  .education__program {
    font-size: 20px;
  }

  .education__school {
    font-size: 18px;
  }

  .education__location {
    font-size: 17px;
  }

  .resume__skill-yrs:after {
    border-bottom: 2px solid rgba(245, 240, 232, 1);
  }

  .resume__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 500px) {
  .resume__title {
    font-size: 55px;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  .resume__workExperience_title {
    font-size: 20px;
    letter-spacing: 5px;
  }

  .resume__workExperience_list {
    margin-top: 30px;
  }

  .resume__education_title {
    font-size: 20px;
    letter-spacing: 5px;
  }

  .education__program {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .education__school {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .education__location {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .resume__skill-yrs-list {
    margin-left: 15px;
    padding-right: 15px;
  }

  .resume__skill-yrs-work {
    font-size: 17px;
  }

  .resume__skill-yrs-timeline {
    font-size: 16px;
  }

  .workExperience__position {
    font-size: 18px;
  }

  .workExperience__company {
    font-size: 16px;
  }

  .workExperience__timeline {
    font-size: 16px;
  }

  .resume__workExperience {
    padding-left: 15px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .resume {
    display: block;
  }

  .resume__title-container {
    border: none;
  }

  .resume__title-container:after {
    border-bottom: 3px solid rgba(245, 240, 232, 1);
  }

  .resume__title {
    margin-top: 50px;
    font-size: 16.6vw;
    letter-spacing: 2vw;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
  }

  .resume__skill-yrs-list {
    margin-right: 40px;
    margin-bottom: 40px;
  }

  .resume__skill-yrs-work {
    font-size: 5.2vw;
  }

  .resume__skill-yrs-timeline {
    font-size: 4.5vw;
  }

  .resume__skill-yrs:after {
    border-bottom: 3px solid rgba(245, 240, 232, 1);
  }

  .resume__workExperience {
    border: none;
    padding-bottom: 50px;
  }

  .resume__workExperience_title {
    font-size: 8.3vw;
    letter-spacing: 1.4vw;
    margin-left: 30px;
  }

  .resume__workExperience_list {
    margin-left: 30px;
  }

  .workExperience__position {
    font-size: 5.6vw;
  }

  .workExperience__company {
    font-size: 5vw;
  }

  .workExperience__timeline {
    font-size: 4.5vw;
  }

  .resume__education {
    margin: 0;
    margin-right: 20px;
    border-top: solid 2px;
  }

  .resume__education_title {
    padding-top: 30px;
    font-size: 8.3vw;
    letter-spacing: 1.4vw;
  }

  .education__program {
    font-size: 5.2vw;
  }

  .education__school {
    font-size: 4.5vw;
  }

  .education__location {
    font-size: 4.1vw;
  }
}
