@keyframes fadeInFromRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes lilBounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.fadeInFromRight {
  animation: fadeInFromRight ease 3.5s;
  animation-iteration-count: 1;
}

.lilBounce {
  animation: lilBounce ease 1.5s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.fadeIn {
  animation: fadeIn ease 4s;
  animation-iteration-count: 1;
}

.contact {
  background: url(../../images/GradientBackgroundFooter.svg);
  background-size: cover;
  width: 100vw;
  min-width: 100%;
  color: rgba(245, 240, 232, 1);
}

.contactMe__title {
  text-align: right;
  margin-top: 50px;
  margin-right: 45px;
}

.contactMe__title-small {
  font-family: "FiraMono-Regular";
  font-size: 27px;
  letter-spacing: 3px;
  margin: 0;
  padding-right: 10px;
}

.contactMe__title-large {
  font-family: "Brown Sugar";
  font-size: 130px;
  letter-spacing: 20px;
  margin: 0;
}

.contactMe__c-c-info {
  display: flex;
  justify-content: space-between;
  margin-top: 330px;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 24px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.contactMe__contact-info {
  text-align: left;
}

.copyright-info {
  text-align: right;
}

.contact_info a {
  color: rgba(245, 240, 232, 1);
}

@media screen and (max-width: 1200px) {
  .contactMe__title-large {
    font-size: 100px;
    letter-spacing: 10px;
  }

  .contactMe__c-c-info {
    margin-left: 70px;
    margin-bottom: 0;
  }

  .contactMe__contact-info {
    margin-bottom: -15px;
  }

  .copyright-info {
    font-size: 20px;
  }
}

@media screen and (max-width: 1075px) {
  .contactMe__contact-info {
    margin-bottom: 50px;
  }

  .copyright-info {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .contactMe__title-large {
    font-size: 200px;
  }

  .contactMe__title-small {
    font-size: 50px;
  }

  .contactMe__c-c-info {
    font-size: 50px;
  }

  .contact_info {
    margin-left: 50px;
  }

  .copyright-info {
    font-size: 40px;
    margin-bottom: 100px;
  }
}
