.nav {
  position: absolute;
  color: rgba(245, 240, 232, 1);
}

.nav__colorful {
  color: rgba(208, 135, 214, 1);
}

.nav__links {
  font-family: "FiraMono-Regular";
  font-size: 22px;
  letter-spacing: 5px;
  margin: 55px 0 0 45px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
}

.nav__links_skills {
  margin-top: 20px;
}

.pink {
  color: hotpink;
}
