@keyframes fadeInFromRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounceFromLeft {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
}

@keyframes littleBounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
}

.littleBounce {
  animation: littleBounce ease 3s;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
}

.bounceFromLeft {
  animation: bounceFromLeft ease 2s;
  animation-iteration-count: 1;
}

.fadeInFromLeft {
  animation: fadeInFromLeft ease 2s;
  animation-iteration-count: 1;
}

.fadeIn {
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slideDown {
  animation: slideDown ease 2s;
  animation-iteration-count: 1;
}

.slideUp {
  animation: slideUp ease 2s;
  animation-iteration-count: 1;
}

.aboutMe {
  display: grid;
  grid-template-columns: 41.5% 58.5%;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 0 50px;
  color: rgba(174, 158, 1, 1);
  background-color: rgba(245, 240, 232, 1);
}

.aboutMe__empty-div {
  border-right: solid 4px;
  border-color: rgba(199, 175, 201, 1);
}

.aboutMe__main {
  margin-left: 75px;
  line-height: normal;
}

.aboutMe__main_title {
  font-family: "Brown Sugar";
  font-size: 100px;
  margin: 100px 0 0;
  letter-spacing: 10px;
}

.aboutMe__photo-and-details {
  align-items: end;
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 35px;
  margin-top: -1700px;
  border-top: solid 4px;
  border-right: solid 4px;
  padding-top: 35px;
  border-color: rgba(199, 175, 201, 1);
  font-family: "FiraMono-Medium";
  color: rgba(234, 31, 138, 1);
  line-height: 12px;
}

.aboutMe__details {
  margin-top: 35px;
}

.aboutMe__info {
  margin-top: 50px;
  line-height: normal;
}
.aboutMe__gradientCircles {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 40px;
}

.aboutMe__gradient-circle-1 {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}

.aboutMe__gradient-circle-2 {
  width: 200px;
  height: 200px;
  margin-bottom: -130px;
  margin-right: -30px;
}

.aboutMe__hobbies {
  margin-top: 160px;
  line-height: normal;
  font-family: "FiraMono-Regular";
  color: rgba(208, 135, 214, 1);
  max-width: 480px;
  margin-bottom: 50px;
}

.aboutMe__hobbies_title {
  font-family: "FiraMono-Medium";
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.aboutMe__hobbies_list {
  margin-top: 15px;
}

@media screen and (max-width: 1300px) {
  .aboutMe__main_title {
    font-size: 80px;
  }
  .aboutMe__photo-and-details {
    margin-top: -1800px;
  }

  .aboutMe__details {
    font-size: 20px;
    line-height: normal;
  }

  .aboutMe__hobbies_list {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutMe__photo-and-details {
    margin-top: -1900px;
  }
}
